@media screen and (max-width: 991px) {
  .nav-link {
    margin-left: 0;
    margin-top: 1rem;
    color: #ffffff !important;
  }
  .nav-btn {
    display: inline-block !important;
  }
}
@media screen and (max-width: 575px) {
  .get-started-box {
    padding: 3rem 2rem;
  }
  .footer-logo {
    width: 25rem !important;
  }
  .header-content h1 {
    font-size: 3rem;
  }
  .heading {
    font-size: 3.5rem;
  }
  .container {
    padding: 0 3rem !important;
  }
  #purchase-section .heading {
    font-size: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .header-content h1 {
    font-size: 2.5rem;
  }
}

/* Font Size on 1920px */
@media screen and (min-width: 1600px) {
  .para-size,
  .button,
  .nav-link,
  .footer-copyright,
  .footer-link p a,
  .footer-contact p {
    font-size: 2.2rem;
  }
  .footer-sub-heading {
    font-size: 2.8rem;
  }
  .nav-link {
    padding: 0;
  }
}

/* Container Responsive */
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1500px !important;
  }
}
@media screen and (min-width: 1800px) {
  .container {
    max-width: 1680px !important;
  }
}
@media screen and (min-width: 2000px) {
  .container {
    max-width: 1880px !important;
  }
}
